<?xml version="1.0" encoding="UTF-8"?>
<module>
  <menulist>
    <menuitem menuid="webphone"       desc="Web Phone"     parent="my_extension"      module="yes" link="/modules/webphone/index.html" type="popup" order="9">
        <permissions>
            <group id="1" name="administrator" desc="total access"></group>
            <group id="2" name="Operator" desc="Operator"></group>
            <group id="3" name="extension" desc="extension user"></group>
        </permissions>
    </menuitem>
  </menulist>
</module>

